name: Build Docker Image

on:
  push:
    branches: [ main ]

env:
  IMAGE_NAME: gyjune/sdtv

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        fetch-depth: 0  # 获取所有历史记录

    - name: Verify files
      run: |
        echo "=== 检查文件 ==="
        ls -la
        echo -e "\n=== requirements.txt 内容 ==="
        cat requirements.txt
        echo -e "\n=== Dockerfile 内容 ==="
        cat Dockerfile

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Login to DockerHub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build and push
      uses: docker/build-push-action@v5
      with:
        context: .
        push: true
        tags: |
          ${{ env.IMAGE_NAME }}:alpine-latest
          ${{ env.IMAGE_NAME }}:latest
        cache-from: type=gha
        cache-to: type=gha,mode=max